<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13A584</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-US</string>
	<key>CFBundleExecutable</key>
	<string>devtools-terminal</string>
	<key>CFBundleIdentifier</key>
	<string>com.dfilimonov.DevtoolsTerminal</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>devtools-terminal</string>
	<key>CFBundlePackageType</key>
	<string>BRPL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A11386k</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12D75</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A11386k</string>
	<key>WebPluginDescription</key>
	<string>Devtools Terminal Plugin</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/x-devtools-terminal</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Basic plugin sample</string>
		</dict>
	</dict>
	<key>WebPluginName</key>
	<string>Devtools Terminal</string>
</dict>
</plist>
